* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.landing {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('./public/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.desktop {
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding: 124px 64px;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  display: none;
}

.event-title {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.event-container-item {
  display: flex;
  width: 283px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: 700;
  transition: all 0.3s ease;
}

.event-container-item:hover {
  scale: 1.1;
  border: 1.05px solid #FFF;
  color: #02712F;
  background: #FFF;
}

.footer {
  width: 100%;
  padding: 40px 220px;
  background-color: #fff;
  display: flex;
  justify-content: center;

  .footer-content {
    max-width: 1920px;
    display: flex;
    column-gap: 131px;
  }

  .footer-content-right {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .footer-content-right-title {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .footer-content-right-address-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .footer-content-right-address {
    p:first-of-type {
      margin-bottom: 8px;
      color: #42AB5D;
      font-family: "DM Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    p:last-of-type {
      width: 200px;
      color: #72678F;
      font-family: "DM Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      /* 157.143% */
    }
  }

  .footer-content-right-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #EFEAFE;

    .icon {
      transition: all 0.3s ease;
      color: #72678F;
    }
  }

  .footer-content-right-icon-container {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  .footer-content-left {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }

  .footer-content-left-phone {
    display: flex;
    align-items: center;
    column-gap: 16px;

    .icon {
      font-size: 24px;
      color: #42AB5D;
    }

    p:first-of-type {
      font-size: 14px;
      font-weight: 500;
      color: #42AB5D;
    }
  }

  .footer-content-right-icon:hover {
    background-color: #42AB5D;

    .icon {
      color: #fff;
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 40px 220px;

  p {
    width: 100%;
    padding: 24px 0;
    padding-bottom: 0 !important;
    border-top: 1px solid #e0e0e0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 16px !important;
  }

  .footer-content {
    flex-direction: column;
    row-gap: 24px;
  }

  .footer-content-right-address-container {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .copyright {
    padding: 16px !important;
    padding-bottom: 24px !important;
  }

  .footer-content-left-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
  }
  .event-title {
    font-size: 16px;
  }
  .event-container-item{
    font-size: 14px;
  }
  .mobile-right-next{
    margin-top: 48px;
  }
  .event-title{
    margin-bottom: 8px;
  }
}